= cache([master_group, master_group.can_edit?(current_user)]) do
	div.panel.panel-default.panel-iskgroup id=master_group.id
		div.panel-heading id="anchor_group_#{master_group.id}"
			= group_link_tag(master_group)
			div.btn-group
				= link_to details_link_text, group_path(master_group), class: 'btn btn-primary'
				= group_download_slides_link master_group
				- if master_group.can_edit?(current_user)
					=< link_to icon('fas', 'plus', 'Add slides'), add_slides_group_path(master_group),
						class: 'btn btn-primary', title: "Add ungrouped slides to this group."
					=< group_edit_link master_group
					=< link_to delete_link_text, group_path(master_group), method: :delete,
					data: {confirm: "Are you sure you want to delete this group? \
						All slides in this group will be marked as deleted."}, class: "btn btn-danger", remote: true
		div.panel-body
			- if master_group.slides.empty?
				div.no_slides
					p This group doesn't contain any slides
			- else
				- master_group.slides.each do |s|
					= slide_thumb_to_show_tag(s)