// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
@import "jquery-ui";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap_custom";
@import "variables";
@import "isk";
@import "slides";
@import "spinner";
@import "buttons";
@import "sortable";
@import "groups";
@import "presentations";

// TODO: move to other files


div.display-preview {
	display: block;
	position:fixed;
	top: 120px;
	right: 15px;
	box-shadow:0 2px 4px rgba(0, 0, 0, .3);

	img {
		border: 5px solid $state-danger-bg;
	}

	div.control-buttons {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
}

div.display-control-header {
	margin-right: 425px;
}

div.display-control {
	margin-right: 425px;

	div.group {
		div.panel-heading {
			font-size: $font-size-base;
			padding: 5px;
		}

		div.slide {
			display: inline-block;
			margin: 5px;
			background: $gray-dark;

			h2.slideheader {
				font-size: 8pt;
				max-width: 130px;
				overflow: hidden;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				padding: 0px;
				margin: 0px;
			}

			img {
				width: 128px;
				height: 72px;
				padding: 5px;
				cursor: pointer;
			}

			div.slidefooter {
				text-align: center;
				padding: 0px;
				margin: 0px;
				max-width: 130px;
			}
		}
	}

	.active {
		background: $state-danger-bg;
	}
}



// Styling for the user list table on users/index.html.slim
table.users {
	col.username {
	}

	col.roles {
		width: 30%;
	}

  col.tokens {

  }
}

// templates#edit
div.field_attributes {
	width: 400px;
	font-size: $font_size;
	float: left;

	div.field_header {
		font-size: 1.4em;
	}

	ul.field_settings {
		list-style: none;
		margin: 0px;
		float: left;
	}
}

// Schedules#edit
// Fix text color on schedule event select controls
table.schedule_events_edit {
	select {
		color: $input-color;
	}
}